:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --dark-blue-2: #00327e;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark-white: #ddddddee;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
    --brown: #ac7548;
    --dark-brown: #211826;
}
.Login{
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
}
#Login{
    position: fixed !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
#Login.loaded{
    opacity: 1 !important;
}
.Login .Welcome-container{
    top: 20%;
    left: 10%;
    position: absolute;
    width: 40%;
    min-height: 10%;
    text-align: center;
    transition: color 1s;
}
.Login .Welcome-container.dark{
    color: var(--white);
}
.Login .Welcome-container.light{
    color: var(--dark);
}
.Login .Welcome-container span{
    display: block;
    text-transform: capitalize;
    font-size: 10vh;
    font-weight: lighter;
}
.Login .Welcome-container .App-name{
    font-weight: bolder;
    font-size: 15vh;
}
.Login .Auth-container{
    top: 10%;
    right: 8%;
    position: absolute;
    width: 28%;
    max-height: 80vh;
    border-radius: 30px;
    transition: background-color 1s;
}
.Login .Auth-container.light{
    background-color: var(--brown);
}
.Login .Auth-container.dark{
    background-color: var(--dark-brown);
}
.Login .Logo{
    position: absolute;
    width: 15vh;
    height: 15vh;
    background-color: var(--light-green);
    border-radius: 50%;
    top: -6%;
    left: -8%;
}
.Login .Logo.light{
    background-color: var(--light-green);
}
.Login .Logo.dark{
    background-color: var(--dark-green);
}
.Login .Label{
    text-align: center;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 5vh;
    margin-block-start: 15%;
    transition: color 1s;
}
.Login .Label.dark{
    color: var(--dark-white);
}
.Login .Label.light{
    color: var(--white);
}
.Login .Form{
    width: 100%;
    min-height: 10vh;
    margin-block: 20%;
}
.Login .Form-label{
    display: block;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-block-start: 8%;
    margin-block-end: 5%;
    transition: color 1s;
}
.Login .Form-label.dark{
    color: var(--dark-white);
}
.Login .Form-label.light{
    color: var(--white);
}
.Login .Input-container{
    position: relative;
    width: 75%;
    margin: auto;
}
.Login .Form-input{
    display: block;
    border: none;
    border-radius: 50px;
    padding: 1%;
    width: 100%;
    height: 4.5vh;
    margin: auto;
    font-weight: bolder;
    text-align: center;
    transition: background-color 1s;
}
.Login .Form-input.light{
    background-color: var(--light-blue);
    color: var(--light-dark);
}
.Login .Form-input.dark{
    background-color: var(--dark-blue);
    color: var(--dark-white);
}
.Login .Form-input:focus{
    outline: none;
}
.Login .Input-icon{
    position: absolute;
    right: 2%;
    top: 21%;
}
.Login .Submition{
    width: 60%;
    margin: auto;
    margin-block-start: 5%;
}
.Login .Submition a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-block: 15%;
    transition: color 1s;
}
.Login .Submition a.light{
    color: var(--light-blue);
}
.Login .Submition a.dark{
    color: var(--dark-blue);
}
.Login .Submition input{
    display: block;
    margin: auto;
    border: none;
    font-weight: bolder;
    border-radius: 5vh;
    width: 60%;
    height: 5vh;
    font-size: 3vh;
    cursor: pointer;
    font-variant: small-caps;
    text-transform: capitalize;
    transition: all 1s;
}
.Login .Submition input.dark{
    background-color: var(--dark-blue-2);
    color: var(--dark-white);
}
.Login .Submition input.light{
    background-color: var(--dark-blue);
    color: var(--white);
}

/* Responsive design */
@media screen and (min-width: 900px) and  (max-width: 1150px){
    .Login .Welcome-container{
        top: 30%;
        left: 10%;
        width: 40%;
    }
    .Login .Welcome-container span{
        font-size: 7vh;
    }
    .Login .Welcome-container .App-name{
        font-size: 10vh;
    }
    .Login .Auth-container{
        top: 10%;
        right: 5%;
        width: 35%;
    }
    .Login .Logo{
        width: 13vh;
        height: 13vh;
        top: -5%;
        left: -9%;
    }
    .Login .Label{
        font-size: 4.5vh;
    }
    .Login .Form{
        width: 100%;
        margin-block: 15%;
    }
    .Login .Input-container{
        width: 75%;
    }
    .Login .Form-input{
        width: 100%;
        height: 4vh;
    }
    .Login .Input-icon{
        right: 1%;
        top: 20%;
        width: 10%;
    }
    .Login .Submition{
        width: 60%;
    }
    .Login .Submition a{
        margin-block: 15%;
    }
    .Login .Submition input{
        width: 60%;
        height: 5vh;
        font-size: 3vh;
    }
}
@media screen and (min-width: 650px) and  (max-width: 900px){
    .Login .Welcome-container{
        top: 30%;
        left: 10%;
        width: 40%;
    }
    .Login .Welcome-container span{
        font-size: 5vh;
    }
    .Login .Welcome-container .App-name{
        font-size: 7vh;
    }
    .Login .Auth-container{
        top: 10%;
        right: 5%;
        width: 45%;
    }
    .Login .Logo{
        width: 13vh;
        height: 13vh;
        top: -5%;
        left: -9%;
    }
    .Login .Label{
        font-size: 4.5vh;
    }
    .Login .Form{
        width: 100%;
        margin-block: 15%;
    }
    .Login .Input-container{
        width: 75%;
    }
    .Login .Form-input{
        width: 100%;
        height: 4vh;
    }
    .Login .Input-icon{
        right: 1%;
        top: 20%;
        width: 10%;
    }
    .Login .Submition{
        width: 60%;
    }
    .Login .Submition a{
        margin-block: 15%;
    }
    .Login .Submition input{
        width: 60%;
        height: 5vh;
        font-size: 3vh;
    }
}
@media screen and (min-width: 450px) and  (max-width: 650px){
    .Login .Welcome-container{
        width: 55%;
        height: 20vh;
        top: 1%;
        left: 22.5%;
    }
    .Login .Welcome-container span{
        font-size: 5vh;
    }
    .Login .Welcome-container .App-name{
        font-size: 7vh;
    }
    .Login .Auth-container{
        width: 55%;
        min-height: 10vh;
        max-height: 60vh;
        top: 30%;
        left: 22.5%;
    }
    .Login .Logo{
        width: 10vh;
        height: 10vh;
        top: -5%;
        left: -8%;
    }
    .Login .Label{
        font-size: 4vh;
    }
    .Login .Form{
        width: 100%;
        margin-block: 10%;
    }
    .Login .Form-label{
        font-size: 1.5vh;
    }
    .Login .Input-container{
        width: 65%;
    }
    .Login .Form-input{
        width: 100%;
        height: 3vh;
    }
    .Login .Input-icon{
        right: 3%;
        top: 10%;
        width: 6%;
    }
    .Login .Submition{
        width: 100%;
    }
    .Login .Submition a{
        margin-block: 10%;
        font-size: 1.2vh;
    }
    .Login .Submition input{
        width: 30%;
        height: 3vh;
        font-size: 2vh;
    }
}
@media screen and (max-width: 450px) {
    .Login .Welcome-container{
        width: 55%;
        height: 20vh;
        top: 1%;
        left: 22.5%;
    }
    .Login .Welcome-container span{
        font-size: 80%;
    }
    .Login .Welcome-container .App-name{
        font-size: 150%;
    }
    .Login .Auth-container{
        width: 75%;
        min-height: 10vh;
        max-height: 60vh;
        top: 30%;
        left: 12.5%;
    }
    .Login .Logo{
        width: 10vh;
        height: 10vh;
        top: -5%;
        left: -8%;
    }
    .Login .Label{
        font-size: 4vh;
    }
    .Login .Form{
        width: 100%;
        margin-block: 10%;
    }
    .Login .Form-label{
        font-size: 1.5vh;
    }
    .Login .Input-container{
        width: 65%;
    }
    .Login .Form-input{
        width: 100%;
        height: 3vh;
    }
    .Login .Input-icon{
        right: 3%;
        top: 10%;
        width: 6%;
    }
    .Login .Submition{
        width: 100%;
    }
    .Login .Submition a{
        margin-block: 10%;
        font-size: 1.2vh;
    }
    .Login .Submition input{
        width: 30%;
        height: 3vh;
        font-size: 2vh;
    }
}