:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
}
.TopMenu{
    width: 100%;
    min-height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.DisplayMode{
    position: absolute;
    top: 50%;
    right: 10%;
    width: 4%;
}
.DisplayMode .Switch-container{
    width: 100%;
    position: relative;
    display: inline-block;
}
.DisplayMode .Switch-container input{
    opacity: 0;
    width: 0;
    height: 0;
}
.Slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.Slider-icon-container{
    width: 100%;
    min-height: 3vh;
    position: relative;
    border-radius: 50px;
    transition: all 1s;
} 
.Slider-icon{
    position: absolute;
    width: 40%;
    height: 3vh;
    transform: translateX(0%);
    top: -20%;
    cursor: pointer;
    border-radius: 50%;
    padding: 6%;
    transition: all 0.5s;
}
.Slider-icon-container.dark{
    background-color: var(--light-blue);
    color: var(--light-green);
    border: 1px solid var(--dark-blue);
}
.Slider-icon.dark{
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    transform: translateX(0%);
}
.Slider-icon-container.light{
    background-color: var(--light-gray);
    color: var(--white);
    border: 1px solid var(--dark);
}
.Slider-icon.light{
    background-color: var(--light-dark);
    border: 1px solid var(--dark);
    transform: translateX(100%);
}
.Dropdown{
    position: absolute;
    top: 35%;
    right: 0%;
    width: 7%;
    min-height: 5vh;
}
.Dropdown-icon{
    height: 4.5vh;
    fill: var(--white);
}
.Dropdown-items{
    visibility: hidden;
    position: absolute;
    left: -30%;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 0;
    opacity: 0;
    transition: all 1s;
}
.Dropdown-items.light{
    background-color: var(--light-gray);
}
.Dropdown-items.dark{
    background-color: var(--dark-blue);
}
.Dropdown-item{
    text-transform: capitalize;
    font-variant: small-caps;
    color: var(--white);
    font-weight: bolder;
    padding-block: 10%;
    margin: 0;
    height: 0;
    padding-block: 0;
    transition: all 0.75s ease-in-out;
}
.Dropdown-item:not(:last-child){
    border-bottom: 1px solid var(--white);
}
/* Responsive design */
@media screen and (min-width: 950px) and  (max-width: 1150px){
    .DisplayMode{
        width: 5%;
    }
}
@media screen and (min-width: 700px) and  (max-width: 950px){
    .DisplayMode{
        width: 5.5%;
        right: 13%;
    }
    .Dropdown{
        right: 0%;
        width: 9%;
    }
}
@media screen and (min-width: 450px) and  (max-width: 700px){
    .DisplayMode{
        width: 7.5%;
        right: 17%;
    }
    .Dropdown{
        right: 0%;
        width: 13%;
    }
}
@media screen and (max-width: 500px) {
    .DisplayMode{
        width: 10%;
        right: 21%;
    }
    .Dropdown{
        right: 0%;
        width: 17%;
    }
}