:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --light-blue: #B2E6EE;
    --brown: #ac7548;
    --white: #FFFFFF;
    --dark: #000000;
}
.Signup{
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}
.Signup .Welcome-container{
    top: 30%;
    right: 8%;
    position: absolute;
    width: 28%;
    min-height: 10%;
    text-align: center;
}
.Signup .Welcome-container span{
    display: block;
    text-transform: capitalize;
    font-size: 7vh;
    font-weight: lighter;
}
.Signup .Welcome-container .App-name{
    font-weight: bolder;
    font-size: 11vh;
}
.Signup .Auth-container{
    background-color: var(--brown);
    top: 10%;
    left: 8%;
    position: absolute;
    width: 50%;
    max-height: 80vh;
    border-radius: 30px;
}
.Signup .Logo{
    position: absolute;
    width: 15vh;
    height: 15vh;
    background-color: var(--light-green);
    border-radius: 50%;
    top: -8%;
    left: -8%;
}
.Signup .Label{
    color: var(--white);
    text-align: center;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 5vh;
    margin-block-start: 5%;
}
.Signup .Form{
    width: 100%;
    min-height: 10vh;
    margin-block: 5%;
}
.Signup .Info{
    display: flex;
    width: 100%;
}
.Signup .Col{
    width: 50%;
}
.Signup .Form-label{
    display: block;
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-block-start: 4%;
    margin-block-end: 4%;
}
.Signup .Input-container{
    position: relative;
    width: 75%;
    margin: auto;
}
.Signup .Form-input{
    display: block;
    background-color: var(--light-blue);
    border: none;
    border-radius: 50px;
    padding: 1.5%;
    width: 100%;
    margin: auto;
    font-weight: bolder;
    text-align: center;
}
.Signup .Form-input:focus{
    outline: none;
}
.Signup .Input-icon{
    position: absolute;
    right: 1.5%;
    top: 15%;
}
.Signup .Submition{
    width: 60%;
    margin: auto;
   /*  margin-block-start: %; */
}
.Signup .Submition a{
    display: block;
    text-align: center;
    color: var(--light-blue);
    text-decoration: none;
    margin-block: 3%;
}
.Signup .Submition input{
    display: block;
    margin: auto;
    background-color: var(--dark-blue);
    border: none;
    color: var(--dark);
    font-weight: bolder;
    border-radius: 5vh;
    width: 60%;
    height: 5vh;
    font-size: 3vh;
    cursor: pointer;
    margin-block: 10%;
    font-variant: small-caps;
    text-transform: capitalize;
}
/* Responsive design */
@media screen and (min-width: 900px) and  (max-width: 1150px){
    .Signup .Welcome-container{
        top: 30%;
        right: 8%;
        width: 30%;
    }
    .Signup .Welcome-container span{
        font-size: 5.7vh;
    }
    .Signup .Welcome-container .App-name{
        font-size: 8.7vh;
    }
    .Signup .Auth-container{
        top: 10%;
        right: 5%;
        width: 45%;
    }
    .Signup .Logo{
        width: 13vh;
        height: 13vh;
        top: -5%;
        left: -9%;
    }
    .Signup .Label{
        font-size: 4.5vh;
    }
    .Signup .Form{
        width: 100%;
        margin-block: 15%;
    }
    .Signup .Input-container{
        width: 75%;
    }
    .Signup .Form-input{
        width: 100%;
    }
    .Signup .Input-icon{
        right: -2%;
        top: 15%;
        width: 15%;
    }
    .Signup .Submition{
        width: 60%;
    }
    .Signup .Submition a{
        margin-block: 15%;
    }
    .Signup .Submition input{
        width: 60%;
        height: 5vh;
        font-size: 3vh;
    }
}
@media screen and (min-width: 650px) and  (max-width: 900px){
    .Signup .Welcome-container{
        top: 30%;
        right: 8%;
        width: 30%;
    }
    .Signup .Welcome-container span{
        font-size: 5vh;
    }
    .Signup .Welcome-container .App-name{
        font-size: 7vh;
    }
    .Signup .Auth-container{
        top: 10%;
        right: 5%;
        width: 45%;
    }
    .Signup .Logo{
        width: 13vh;
        height: 13vh;
        top: -5%;
        left: -9%;
    }
    .Signup .Label{
        font-size: 4.5vh;
    }
    .Signup .Form{
        width: 100%;
        margin-block: 15%;
    }
    .Signup .Input-container{
        width: 75%;
    }
    .Signup .Form-label{
        font-size: 2.2vh;
    }
    .Signup .Form-input{
        width: 100%;
    }
    .Signup .Input-icon{
        right: 2%;
        top: 15%;
        width: 10%;
    }
    .Signup .Submition{
        width: 60%;
    }
    .Signup .Submition a{
        margin-block: 15%;
    }
    .Signup .Submition input{
        width: 60%;
        height: 5vh;
        font-size: 3vh;
    }
}
@media screen and (min-width: 450px) and  (max-width: 650px){
    .Signup .Welcome-container{
        width: 55%;
        height: 20vh;
        top: 1%;
        left: 22.5%;
    }
    .Signup .Welcome-container span{
        font-size: 5vh;
    }
    .Signup .Welcome-container .App-name{
        font-size: 7vh;
    }
    .Signup .Auth-container{
        width: 65%;
        min-height: 10vh;
        max-height: 60vh;
        top: 30%;
        left: 22.5%;
    }
    .Signup .Logo{
        width: 10vh;
        height: 10vh;
        top: -8%;
        left: -8%;
    }
    .Signup .Label{
        font-size: 4vh;
    }
    .Signup .Form{
        width: 100%;
        margin-block: 10%;
    }
    .Signup .Form-label{
        font-size: 2vh;
    }
    .Signup .Input-container{
        width: 65%;
    }
    .Signup .Form-input{
        width: 100%;
    }
    .Signup .Input-icon{
        right: 1%;
        width: 6%;
    }
    .Signup .Submition{
        width: 100%;
    }
    .Signup .Submition a{
        font-size: 1.2vh;
    }
    .Signup .Submition input{
        width: 30%;
        height: 3vh;
        font-size: 2vh;
        margin-block: 6%;
    }
}
@media screen and (max-width: 450px) {
    .Signup .Welcome-container{
        width: 55%;
        height: 20vh;
        top: 1%;
        left: 22.5%;
    }
    .Signup .Welcome-container span{
        font-size: 80%;
    }
    .Signup .Welcome-container .App-name{
        font-size: 150%;
    }
    .Signup .Auth-container{
        width: 75%;
        min-height: 10vh;
        max-height: 60vh;
        top: 30%;
        left: 12.5%;
    }
    .Signup .Logo{
        width: 10vh;
        height: 10vh;
        top: -5%;
        left: -8%;
    }
    .Signup .Label{
        font-size: 4vh;
    }
    .Signup .Form{
        width: 100%;
        margin-block: 10%;
    }
    .Signup .Form-label{
        font-size: 1.5vh;
    }
    .Signup .Input-container{
        width: 65%;
    }
    .Signup .Form-input{
        width: 100%;
    }
    .Signup .Input-icon{
        right: 1%;
        width: 6%;
    }
    .Signup .Submition{
        width: 100%;
    }
    .Signup .Submition a{
        margin-block: 10%;
        font-size: 1.2vh;
    }
    .Signup .Submition input{
        width: 30%;
        height: 3vh;
        font-size: 2vh;
    }
}