:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
}
.Loading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-position: center;
    background-size: cover;
}
#Loading{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}
#Loading.loaded{
    opacity: 1;
}
.Loading-container{
    width: 45%;
    min-height: 20vh;
}
.Loading-label{
    text-align: center;
    color: var(--white);
    font-size: 9vh;
    text-transform: capitalize;
    font-variant: small-caps;
    margin-block-end: 5%;
    text-shadow: 0px 0px 16px var(--dark);
}

.Loading-bar{
    width: 100%;
    height: 5vh;
    border-radius: 50px;
    border: 2px solid var(--light-green);
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(18,auto);
    gap: 1%;
    padding: 0.5vh;
}
.Bars:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.Bars:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.Bars{
    background-color: var(--light-blue);
    opacity: 0;
}
.Bars:nth-child(1){
    animation: progress 0.25s forwards;
}
.Bars:nth-child(2){
    animation: progress 0.25s 0.125s forwards;
}
.Bars:nth-child(3){
    animation: progress 0.25s 0.15s forwards;
}
.Bars:nth-child(4){
    animation: progress 0.25s 0.275s forwards;
}
.Bars:nth-child(5){
    animation: progress 0.25s 0.4s forwards;
}
.Bars:nth-child(6){
    animation: progress 0.25s 0.525s forwards;
}
.Bars:nth-child(7){
    animation: progress 0.25s 0.65s forwards;
}
.Bars:nth-child(8){
    animation: progress 0.25s 0.775s forwards;
}
.Bars:nth-child(9){
    animation: progress 0.25s 0.9s forwards;
}
.Bars:nth-child(10){
    animation: progress 0.25s 1.025s forwards;
}
.Bars:nth-child(11){
    animation: progress 0.25s 1.15s forwards;
}
.Bars:nth-child(12){
    animation: progress 0.25s 1.275s forwards;
}
.Bars:nth-child(13){
    animation: progress 0.25s 1.4s forwards;
}
.Bars:nth-child(14){
    animation: progress 0.25s 1.525s forwards;
}
.Bars:nth-child(15){
    animation: progress 0.25s 1.65s forwards;
}
.Bars:nth-child(16){
    animation: progress 0.25s 1.725s forwards;
}
.Bars:nth-child(17){
    animation: progress 0.25s 1.85s forwards;
}
.Bars:nth-child(18){
    animation: progress 0.25s 1.975s forwards;
}

@keyframes progress {
    from{opacity: 0;}
    to{opacity: 1;}
}
/* Responsive design */
@media screen and (min-width: 900px) and  (max-width: 1150px){
    .Loading-container{
        width: 50%;
    }
    .Loading-label{
        font-size: 8.5vh;
    }
}
@media screen and (min-width: 650px) and  (max-width: 900px){
    .Loading-container{
        width: 55%;
    }
    .Loading-label{
        font-size: 8vh;
    }
    
    .Loading-bar{
        height: 4.7vh;
    }
}
@media screen and (min-width: 450px) and  (max-width: 650px){
    .Loading-container{
        width: 55%;
    }
    .Loading-label{
        font-size: 5.5vh;
    }
    
    .Loading-bar{
        height: 4vh;
    }
}
@media screen and (max-width: 450px) {
    .Loading-container{
        width: 55%;
    }
    .Loading-label{
        font-size: 5vh;
    }
    
    .Loading-bar{
        height: 3.5vh;
    }
}