:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --dark-blue-2: #00327e;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark-white: #E8E7E0;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
    --brown: #ac7548;
    --dark-brown: #211826;
    --green-blue: #3A6F7D;
    --dark-gray: #353B42;
    --light-gray: #7B858D;
}

.Main .Feed-container .Post-List{
    position: relative;
    height: fit-content;
    padding: 5vh;
    padding-bottom: 5em;
    margin-bottom: 1em;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    transition: background-color 1s;
}
.Main .Feed-container .Post-List.light{
    background-color: transparent;
}
.Main .Feed-container .Post-List.dark{
    background-color: transparent;
}
.Main .Feed-container .Post-List-item{
    position: relative;
    width: 100%;
    max-height: 55vh;
    margin-block: 2vh;
    margin-bottom: 3em;
    border-radius: 30px;
    padding: 0;
    border: 0 !important;
    background-color: transparent;
}
.Main .Feed-container .Post{
    position: relative;
    width: 100%;
    height: 55vh;
    padding: 1em;
    border-radius: 30px;
    border: 0 !important;
    transition: background-color 1s;
}
.Main .Feed-container .Post .Post-header{
    max-height: 10vh;
}
.Main .Feed-container .Post.light{
    background-color: transparent;
}
.Main .Feed-container .Post.dark{
    background-color: transparent; 
}

.Main .Feed-container .Post .Post-info{
    background-color: transparent;
    display: flex;
    max-height: 5vh;
}
.Main .Feed-container .Post .Post-profile{
    display: flex;
}
.Main .Feed-container .Post .Logo-container{
    width: 6vh !important;
}
.Main .Feed-container .Post .Logo{
    width: 7vh;
    height: 7vh;
    padding: 0.25vh;
    background-color: var(--light-green);
    border-radius: 50%;
    transition: background-color 1s;
}

.Main .Feed-container .Post .Logo .Logo-img{
    width: 100%;
    height: 6.5vh;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.Main .Feed-container .Post .Logo.light{
    background-color: var(--light-green);
}
.Main .Feed-container .Post .Logo.dark{
    background-color: var(--dark-green);
}
.Main .Feed-container .Post .Label{
    margin: 0;
    margin-inline-start: 2vh;
    text-align: left;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 3vh;
    transition: color 1s;
}

.Main .Feed-container .Post .Label.light{
    color: var(--white);
}
.Main .Feed-container .Post .Label.dark{
    color: var(--dark-white);
}

.Main .Feed-container .Post .Post-content{
    width: 100%;
    min-height: 45vh;
    border-radius: 30px;
    border: 0 ;
    transition: background-color 1s;
}

.Main .Feed-container .Post .Post-content.light{
    background-color: transparent;
}
.Main .Feed-container .Post .Post-content.dark{
    background-color: transparent;
}

.Main .Feed-container .Post .Post-content .Post-content-img{
    width: 65%;
    height: 40vh;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    
}

.Main .Feed-container .Post .Post-content .Post-content-video{
    width: 65%;
    height: 40vh;
    border-radius: 30px;
    object-fit: contain;
    background-color: var(--dark);
    object-position: center;
    
}

.Main .Feed-container .Post .Post-content .Post-content-text{
    width: 65%;
    height: 45vh;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    
}

.Main .Feed-container .Post .CommentModal{
    visibility: hidden;
    position: absolute;
    width: 19em;
    height: 90%;
    border-radius: 10px;
    padding-left: 1%;
    top: 0%;
    left: 66.5%;
}
.Main .Feed-container .Post .CommentModal.light{
    background-color: var(--dark-white);
}
.Main .Feed-container .Post .CommentModal.dark{
    background-color: var(--dark-gray);
}

.Main .Feed-container .Post .CommentModal .List{
    display: grid;
    width: 100%;
    max-height: 30vh;
    gap: 1vh;
    padding: 5vh;
    height: fit-content;
    padding: 5vh;
    margin-bottom: 1em;
    border-radius: 30px;
    overflow-y: scroll;
}
.Main .Feed-container .Post .CommentModal .List::-webkit-scrollbar{
    display: none;
}
.Main .Feed-container .Post .CommentModal .List .List-item{
    width: 100%; 
    max-height: 100vh;
    border-radius: 10px;
    margin-top: 0;
    margin-block: 2vh;
    padding: 0;
    padding-left: 2vh;
    border: 0 !important;
    transition: background-color 1s;
}

.Main .Feed-container .Post .CommentModal-items{
    left:auto;
    width: 100%;
    border-radius: 0px;
    text-align: left;
    font-size: medium;
    height: auto;
    transition: all 1s;
}
.Main .Feed-container .Post .CommentModal-item{
    text-transform: capitalize;
    font-variant: small-caps;
    color: var(--white);
    font-weight: bolder;
    margin: 0;
    height: auto;
    transition: all 0.75s ease-in-out;
}

.Main .Feed-container .Post .CommentModal-items .List{
    padding-block: 1.5vh;
    padding-inline: 2.5vh;
}

.Main .Feed-container .Post .CommentModal-items .Post-info{
    margin-bottom: 0.5vh;
}

.Main .Feed-container .Post .CommentModal .List .List-item.light{
    background-color: var(--white);
}
.Main .Feed-container .Post .CommentModal .List .List-item.dark{
    background-color: var(--dark-white);
}

.Main .Feed-container .Post .CommentModal .List .Post-info .Logo-container .Logo{
    width: 5vh;
    height: 5vh;
}
.Main .Feed-container .Post .CommentModal .List .Post-info .Logo-container .Logo .Logo-img{
    height: 4.5vh;
}
.Main .Feed-container .Post .CommentModal .List .Post-info .Label{
    margin-inline-start: 0;
}


.Interactions{
    display: flex !important;
    justify-content: space-around;
    position: absolute;
    bottom: -9vh;
    border-radius: 50vh !important;
    width: 10em;
    padding: 0 !important;
    padding-block: 0.5% !important;
    margin-block-start: 1vh;
    transition: background-color 1s;
    border: var(--dark-gray) 1px solid;
}

.Interactions.light{
    background-color: var(--light-green);
    border: var(--light-green) 1px solid;
}
.Interactions.dark{
    background-color: var(--dark-gray);
}

.Interactions-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
}

.Interactions-item-icon{
    color: var(--white);
    width: 90%;
}

.Submition input{
    display: block;
    position: absolute;
    margin: auto;
    border: none;
    font-weight: bolder;
    border-radius: 5vh;
    width: 60%;
    height: 4vh;
    bottom: 3%;
    font-size: 2vh;
    padding-inline: 1.5vh;
    cursor: pointer;
    transition: all 1s;
}

.Submition input:focus{
    border: none;
    outline: none;
}

.button{
    position: absolute;
    bottom: 3%;
    right: 1%;
    margin: auto;
    width: 30%;
    height: 4vh;
    color: var(--white);
    border-radius: 5vh;
}

.text-small-caps{
    font-variant: small-caps;
}
.text-small-caps::first-letter{
    text-transform: uppercase;
}

.Cmnt-Interactions{
    display: flex;
    justify-content: space-between;
    width: 18%;
    margin-left: 1vh;
    margin-bottom: 0.5vh;
}

.Cmnt-Interactions.delete{
    width: 35%;
}

.Cmnt-Interactions p{
    margin: 0;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
}
.Cmnt-Interactions p::first-letter{
    text-transform: uppercase;
}

.removeReplyAlert{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: var(--light-gray);
    top: 0;
    left: 0;
    height: 15vh;
    width: 25vh;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
    z-index: 2;
}
.removeReplyAlert p{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: bolder;
}
.removeReplyAlert .controle{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
.removeReplyAlert .controle button{
    width: 45%;
    font-size: 1vh;
}

.removeCommentAlert{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: var(--light-gray);
    top: 15%;
    left: 15%;
    height: 15vh;
    width: 25vh;
    border-radius: 20px;
    box-shadow: 0px 0px 50px black;
    z-index: 2;
}
.removeCommentAlert p{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: bolder;
}
.removeCommentAlert .controle{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
.removeCommentAlert .controle button{
    width: 45%;
    font-size: 1vh;
}

.img-preview{
    position: absolute;
    display: none;
    width: 100%;
    height: 80vh;
    z-index: 3;
    top: 10vh;
    box-shadow: 0px 0px 80px black , 
    1px 1px 100px black , 
    1px 1px 120px black,
    0px 0px 180px black;
    border-radius: 10px;
}
.img-preview.fade-in{
    display: block;
}
.img-preview.fade-out{
    display: none;
}
.img-preview img{
    width: 100%;
    border-radius: 10px;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.closePreview{
    position: absolute;
    z-index: inherit;
    color: red;
    background-color: var(--dark);
    padding: 1vh;
    padding-inline: 2vh;
    border-top-right-radius: 10px;
    right: 0vh;
    top: 0vh;
}

/* Responsive design */
@media screen and (min-width: 900px) and  (max-width: 1150px){
    .Main .Feed-container .Post-List{
        height: fit-content;
        padding: 0%;
        padding-left: 10%;
        padding-bottom: 5em;
        margin-bottom: 1em;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        width: 100%;
        transition: background-color 1s;
    }
    Main .Feed-container .Post .Post-content{
        width: 100%;
        min-height: 20vh;
        border-radius: 30px;
        border: 0 ;
        transition: background-color 1s;
    }
    .CommentModal{
        padding-left: 1%;
        width: 15em;
        height: 80%;
        top: 6% !important;
        left: 40% !important;
    }
    .Interactions{
        bottom: -4vh;
        width: 10em;
        padding-block: 0.2% !important;
    }
    .Interactions-item{
        width: 2.5vh;
        height: 2.5vh;
    }
    .Submition input{
        height: 4vh;
    }
    .button{
        text-align: center;
        align-items: center;
        height: 4vh;
    }
}

@media screen and (min-width: 650px) and  (max-width: 900px){
    .Interactions{
        bottom: -5vh;
        width: 10em;
        padding-block: 0.2% !important;
    }
    .Interactions-item{
        width: 2.5vh;
        height: 2.5vh;
    }
    
    .Interactions-item-icon{
        width: 2vh;
        height: 2vh;
    }
    .CommentModal{
        left: 15% !important;
    }
}
@media screen and (min-width: 450px) and  (max-width: 650px){
    .Main .Feed-container .Post .Label{
        font-size: 2.5vh;
    }
    .Interactions{
        bottom: -5vh;
        width: 8em;
        height: 3.2vh;
        padding-block: 0.2% !important;
    }
    .Interactions-item{
        width: 2.5vh;
        height: 2.5vh;
    }
    
    .Interactions-item-icon{
        width: 1.5vh;
        height: 1.5vh;
    }
}
@media screen and (min-width: 400px) and (max-width: 450px) {
    .Main .Feed-container{
        width: 100%;
        margin: 0 ;
    }
    .Main .Side-bar{
        position: absolute;
        right: 1vh;
        height: 40vh !important;
        width: 40%;
        visibility: hidden;
        transition: all 1s;
    }
    .Main .Side-bar.light{
        background-color: var(--light-blue);
    }
    .Main .Side-bar.dark{
        background-color: var(--dark-green);
    }
    .Main .Side-bar-header{
        display: none;
    }
    .Main .Side-bar .List{
        visibility: hidden;
        font-size: 1.4vh;
        max-height: 35vh !important;
        transition: all 1s;
    }
    .Main .Side-bar .List .List-item{
        visibility: hidden;
        margin-block-end: 1vh;
        transition: all 1s;
    }
    .Main .Side-bar-header-icon-container{
        display: flex;
        position: absolute;
        top: 3vh;
        right: 1vh;
        width: 3.2vh;
        height: 3.2vh;
    }
    .Main .Side-bar-header-icon{
        width: 2vh;
        height: 2vh;
    }

    .Main .Feed-container .Post-List{
            padding: 2vh;
    }
    .Main .Feed-container .Post{
        width: 100%;
    }
    .Main .Feed-container .Post .Logo{
        width: 4.5vh;
        height: 4.5vh;
    }
    .Main .Feed-container .Post .Label{
        font-size: 1.7vh;
        margin: 0;
    }
    .Interactions{
        bottom: -2vh;
        width: 8em;
        height: 3.2vh;
        padding-block: 0.2% !important;
    }
    .Interactions-item{
        width: 2.5vh;
        height: 2.5vh;
    }
    
    .Interactions-item-icon{
        width: 1.5vh;
        height: 1.5vh;
    }
}
@media screen and (max-width: 400px) {
    .Main .Feed-container{
        width: 100%;
        margin: 0 ;
    }
    .Main .Side-bar{
        position: absolute;
        right: 1vh;
        height: 25vh !important;
        width: 40%;
        visibility: hidden;
        transition: all 1s;
    }
    .Main .Side-bar.light{
        background-color: var(--light-blue);
    }
    .Main .Side-bar.dark{
        background-color: var(--dark-green);
    }
    .Main .Side-bar-header{
        display: none;
    }
    .Main .Side-bar .List{
        visibility: hidden;
        font-size: 1.4vh;
        max-height: 20vh !important;
        transition: all 1s;
    }
    .Main .Side-bar .List .List-item{
        visibility: hidden;
        margin-block-end: 1vh;
        transition: all 1s;
    }
    .Main .Side-bar-header-icon-container{
        display: flex;
        position: absolute;
        top: 3vh;
        right: 1vh;
        width: 3.2vh;
        height: 3.2vh;
    }
    .Main .Side-bar-header-icon{
        width: 2vh;
        height: 2vh;
    }
    .Main .Feed-container .Post-List{
            padding: 2vh;
    }
    .Main .Feed-container .Post{
        width: 100%;
        height: 35vh;
    }
    .Main .Feed-container .Post .Logo-container{
        width: 4vh !important;
    }
    .Main .Feed-container .Post .Logo{
        width: 3.5vh;
        height: 3.5vh;
    }
    .Main .Feed-container .Post .Label{
        font-size: 1vh;
        margin: 0;
    }
    .Interactions{
        bottom: -1vh;
        width: 5em;
        height: 2.5vh;
        padding-block: 0.2% !important;
    }
    .Interactions-item{
        width: 2vh;
        height: 2vh;
    }
    
    .Interactions-item-icon{
        width: 1.2vh;
        height: 1.2vh;
    }
}