:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --dark-blue-2: #00327e;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark-white: #ddddddee;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
    --brown: #ac7548;
    --dark-brown: #211826;
    --green-blue: #3A6F7D;
}

.Main .Feed-container .Search{
    width: 100%;
    max-height: fit-content;
    padding: 2vh;
    border-radius: 30px;
}

.Main .Feed-container .Search .Search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}

.Main .Feed-container .Search .Search-bar input{
    width: 100%;
    border-radius: 50vh;
    border: 0;
    padding: 1vh;
    padding-inline: 2vh;
    font-weight: bolder;
    transition: all 1s;
}

.Main .Feed-container .Search .Search-bar.ar input{
    text-align: right;
}

.Main .Feed-container .Search .Search-bar.light input{
    color: var(--dark);
    background-color: var(--light-blue);
}

.Main .Feed-container .Search .Search-bar.dark input{
    color: var(--dark-white);
    background-color: var(--dark-blue);
}

.Main .Feed-container .Search .Search-bar input:focus{
    border: 0;
    outline: none;
}

.Main .Feed-container .Search .Search-bar input::placeholder{
    font-weight: 500;
    color: var(--light-gray);
    transition: color 1s;
}

.Main .Feed-container .Search .Search-bar.light input::placeholder{
    color: var(--light-gray);
}

.Main .Feed-container .Search .Search-bar.dark input::placeholder{
    color: var(--dark-white);
}


.Main .Feed-container .Search .Results{
    display: grid;
    width: 100%;
    max-height: 55vh;
    gap: 1.5vh;
    overflow-y: scroll;
}

.Main .Feed-container .Search .Results::-webkit-scrollbar{
    display: none;
}

.Main .Feed-container .Search .Results-item{
    display: flex;
    align-items: center;
    min-height: 9vh;
    border-radius: 10px;
    transition: background-color 1s;
}

.Main .Feed-container .Search .Results-item.ar{
    flex-direction: row-reverse;
}

.Main .Feed-container .Search .Results-item.light{
    background-color: var(--white);
}

.Main .Feed-container .Search .Results-item.dark{
    background-color: var(--dark-white);
}

.Main .Feed-container .Search .Results-item-logo{
    width: 5vh;
    height: 5vh;
    border-radius: 50vh;
    margin-inline: 2vh;
    transition: background-color 1s;
}

.Main .Feed-container .Search .Results-item.light .Results-item-logo{
    background-color: var(--light-green);
}

.Main .Feed-container .Search .Results-item.dark .Results-item-logo{
    background-color: var(--dark-green);
}

.Main .Feed-container .Search .Results-item-label{
    margin: 0;
}

.cursor-pointer{
    cursor: pointer;
}
.search-icon{
    position: absolute;
    right: 2vh;
    top: 1.5vh;
    cursor: pointer;
    transition: color 1s;
}
.search-icon.dark{
    color: var(--dark-white);
}
.search-icon.light{
    color: var(--light-gray);
}

.useSearchBar{
    display: flex;
    text-align: center;
    align-items: center;
    height: 55vh;
    margin: 0;
    font-weight: bolder;
    text-transform: capitalize;
    transform: color 1s;
}

.useSearchBar.dark{
    color: var(--dark-white);
}
.useSearchBar.light{
    color: var(--white);
}

/* Responsive design */

@media screen and (min-width: 650px) and  (max-width: 900px){
    .Main .Feed-container .Search .Results-item{
        min-height: 8.5vh;
    }
}
@media screen and (min-width: 450px) and  (max-width: 650px){
    .Main .Feed-container .Search .Results{
        max-height: 40vh;
    }
    .Main .Feed-container .Search .Results-item{
        min-height: 8vh;
    }
}
@media screen and (min-width: 400px) and (max-width: 465px) {
    .Main .Feed-container .Search .Results{
        max-height: 35vh;
    }
    .Main .Feed-container .Search .Results-item{
        min-height: 7vh;
    }
}
@media screen and (max-width: 400px) {
    .Main .Feed-container .Search .Results{
        max-height: 35vh;
    }
    .Main .Feed-container .Search .Results-item{
        min-height: 6vh;
    }
}