:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --dark-blue-2: #00327e;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark-white: #ddddddee;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
    --brown: #ac7548;
    --dark-brown: #211826;
}
.Main{
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/Light-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

.Main .Main-container{
    background-color: var(--dark-green);
    display: flex;
    padding: 1em;
    margin: 1em;
    margin-top: 5em;
    width: 90%;
    min-height: 80vh;
    border-radius: 30px;
}
#Main-img{
    position: fixed !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
#Main-img.loaded{
    opacity: 1 !important;
}
.Main .Label{
    color: var(--white);
    text-align: center;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 5vh;
    margin-block-start: 15%;
}

.Main .Feed-container{
    background-color: var(--dark-blue);  
    position: relative;
    display: flex;
    padding: 2em;
    /* padding-left: 5em; */
    width: 80%;

    /* the height is just to test the scroll on the feed, need to be removed later */
    height: fit-content;
    
    margin-right: 2em; 
    border-radius: 30px;
    transition: background-color 1s;
}
.Main .Feed-container.light{
    background-color: var(--dark-blue);
}
.Main .Feed-container.dark{
    background-color: var(--light-gray);
}

.Main .Feed-container .List{
    /* position: relative; */
    background-color: var(--dark-blue); 
    height: fit-content;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 30px;
    width: 100%;
    transition: background-color 1s;
}
.Main .Feed-container .List.light{
    background-color: var(--dark-blue);
}
.Main .Feed-container .List.dark{
    background-color: var(--light-gray);
}

.Main .Feed-container .Post{
    /* position: relative; */
    background-color: var(--dark-blue); 
    height: fit-content;
    padding: 1em;
    border-radius: 30px;
    width: 90%;
    transition: background-color 1s;
}
.Main .Feed-container .Post.light{
    background-color: var(--dark-blue);
}
.Main .Feed-container .Post.dark{
    background-color: var(--light-dark); 
}

.Main .Feed-container .Post .Post-profile{
    display: flex;
}

.Main .Feed-container .Post .Logo{
    margin-right: 1em;
    width: 13vh;
    height: 13vh;
    background-color: var(--light-green);
    border-radius: 50%;
    /* top: -3%;
    left: 33%; */
    transition: background-color 1s;
}
.Main .Feed-container .Post .Logo.light{
    background-color: var(--light-green);
}
.Main .Feed-container .Post .Logo.dark{
    background-color: var(--dark-green);
}
.Main .Feed-container .Post .Label{
    text-align: left;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 5vh;
    margin-block-start: 15%;
    transition: color 1s;
}

.Main .Feed-container .Post .Label.light{
    color: var(--white);
}
.Main .Feed-container .Post .Label.dark{
    color: var(--dark-white);
}

.Main .Feed-container .Post .Post-content{
    width: 100%;
    border-radius: 30px;
    transition: background-color 1s;
}

.Main .Feed-container .Post .Post-content.light{
    background-color: var(--dark-green);
}
.Main .Feed-container .Post .Post-content.dark{
    background-color: var(--light-gray);
}

.Main .Feed-container .Post .Post-content .Label{
    /* text-align: center; */
    font-variant: small-caps;
    /* text-transform: capitalize; */
    font-size: 3vh;
    /* margin-block-start: 15%; */
    transition: color 1s;
}

.Main .Feed-container .Post .Post-content .Label.light{
    color: var(--white);
}
.Main .Feed-container .Post .Post-content .Label.dark{
    color: var(--dark-white);
}

.More{
    border-radius: 30px;
    margin-top: 1em;
    width: 10em;
    transition: background-color 1s;
}

.More.light{
    background-color: var(--white);
}
.More.dark{
    background-color: var(--dark-white);
}

.Main .Side-bar{
    background-color: var(--dark-blue);  
    position: relative;
    width: 20%; 
    border-radius: 30px;
    padding-top: 5em;
    padding-left: 1em;
    transition: background-color 1s;
}

.Main .Side-bar.light{
    background-color: var(--dark-blue);
}
.Main .Side-bar.dark{
    background-color: var(--light-gray);
}

.Main .Side-bar .Logo{
    position: absolute;
    width: 13vh;
    height: 13vh;
    border-radius: 50%;
    top: -3%;
    left: 33%;
    transition: background-color 1s;
}
.Main .Side-bar .Logo.light{
    background-color: var(--light-green);
}
.Main .Side-bar .Logo.dark{
    background-color: var(--dark-green);
}
.Main .Side-bar .List-Item{
    /* background-color: var(--dark-blue);   */
    position: relative;
    width: 95%;
    margin-top: 2em;
    margin-bottom: 2em; 
    border-radius: 30px;
    transition: background-color 1s;
}
.Main .Side-bar .List-Item.light{
    background-color: var(--white);
}
.Main .Side-bar .List-Item.dark{
    background-color: var(--dark-white);
}
.Main .bottom-bar {
    background-color: var(--light-green);
    padding: 10px;
    margin-bottom: 53m;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 13%;
    width: 70%;
    height: 7vh;
    transition: background-color 1s;
}
.Main .bottom-bar.light{
    background-color: var(--light-green);
}
.Main .bottom-bar.dark{
    background-color: var(--dark-green);
}