:root{
    --dark-green: #233F3C;
    --light-green: #9DC56B;
    --dark-blue: #3D748E;
    --dark-blue-2: #00327e;
    --light-blue: #B2E6EE;
    --white: #FFFFFF;
    --dark-white: #ddddddee;
    --dark: #000000;
    --light-gray: #42464A;
    --light-dark: #23272D;
    --brown: #ac7548;
    --dark-brown: #211826;
    --green-blue: #3A6F7D;
}
.Main{
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../Images/Light-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
}

.Main .Main-container{
    z-index: 1;
    display: flex;
    padding: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 90%;
    height: 90vh;
    border-radius: 30px;
    overflow-y: hidden;
    transition: background-color 1s;
}

.Main .Main-container.light{
    background-color: var(--dark-green);
}

.Main .Main-container.dark{
    background-color: var(--light-dark);
}

#Main-img{
    position: fixed !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    object-fit: cover !important;
}
#Main-img.loaded{
    opacity: 1 !important;
}
.Main .Label{
    color: var(--white);
    text-align: center;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 5vh;
    margin-block-start: 15%;
}

.Main .Feed-container{
    overflow-y: scroll;
    position: relative;
    display: flex;
    width: 80%;
    height: 95%;
    margin-right: 2em; 
    border-radius: 30px;
    transition: background-color 1s;
}
.Main .Feed-container.light{
    background-color: var(--green-blue);
}
.Main .Feed-container.dark{
    background-color: var(--light-gray);
}

.Main .Feed-container::-webkit-scrollbar{
    background-color: transparent;
    width: 1vh;
}

.Main .Feed-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
}
.Main .Feed-container.light::-webkit-scrollbar-thumb{
    background-color: var(--light-green);
}
.Main .Feed-container.dark::-webkit-scrollbar-thumb{
    background-color: var(--dark-green);
}

.Main .Feed-container .List{
    height: fit-content;
    padding: 5vh;
    margin-bottom: 1em;
    border-radius: 30px;
    width: 100%;
    transition: background-color 1s;
}
.Main .Feed-container .List.light{
    background-color: var(--green-blue);
}
.Main .Feed-container .List.dark{
    background-color: var(--light-gray);
}
.Main .Feed-container .List-item{
    width: 100%;
    max-height: 55vh;
    margin-block: 2vh;
    border-radius: 30px;
    padding: 0;
    border: 0 !important;
}
.Main .Feed-container .Post{
    position: relative;
    width: 100%;
    height: 55vh;
    padding: 1em;
    border-radius: 30px;
    border: 0 !important;
    transition: background-color 1s;
}
.Main .Feed-container .Post .Post-header{
    max-height: 10vh;
}
.Main .Feed-container .Post.light{
    background-color: var(--dark-green);
}
.Main .Feed-container .Post.dark{
    background-color: var(--dark-brown); 
}

.Main .Feed-container .Post .Post-info{
    background-color: transparent;
    display: flex;
    max-height: 5vh;
}
.Main .Feed-container .Post .Post-profile{
    display: flex;
}
.Main .Feed-container .Post .Logo-container{
    width: 6vh !important;
}
.Main .Feed-container .Post .Logo{
    width: 6vh;
    height: 6vh;
    background-color: var(--light-green);
    border-radius: 50%;
    transition: background-color 1s;
}
.Main .Feed-container .Post .Logo.light{
    background-color: var(--light-green);
}
.Main .Feed-container .Post .Logo.dark{
    background-color: var(--dark-green);
}
.Main .Feed-container .Post .Label{
    margin: 0;
    margin-inline-start: 2vh;
    text-align: left;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 3vh;
    transition: color 1s;
}

.Main .Feed-container .Post .Label.light{
    color: var(--white);
}
.Main .Feed-container .Post .Label.dark{
    color: var(--dark-white);
}

.Main .Feed-container .Post .Caption{
    margin-bottom: 1em;
    margin-inline-start: 2vh;
    text-align: left;
    font-variant: small-caps;
    text-transform: capitalize;
    font-size: 3vh;
    transition: color 1s;
}

.Main .Feed-container .Post .Caption.light{
    color: var(--white);
}
.Main .Feed-container .Post .Caption.dark{
    color: var(--dark-white);
}

.Main .Feed-container .Post .Post-content{
    width: 100%;
    min-height: 39vh;
    border-radius: 30px;
    border: 0 ;
    transition: background-color 1s;
}

.Main .Feed-container .Post .Post-content.light{
    background-color: transparent;
    height: 40vh;
}
.Main .Feed-container .Post .Post-content.dark{
    background-color: transparent;
    height: 40vh;
}

.Main .Feed-container .Post .Post-content .Post-content-media{
    margin-top: 2em;
    width: 100%;
    height: 40vh;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.Main .Feed-container .Post .Post-content .Label{
    font-variant: small-caps;
    font-size: 3vh;
    transition: color 1s;
}

.Main .Feed-container .Post .Post-content .Label.light{
    color: var(--white);
}
.Main .Feed-container .Post .Post-content .Label.dark{
    color: var(--dark-white);
}

.Interactions{
    display: flex !important;
    justify-content: space-around;
    position: absolute;
    top: 0vh;
    border-radius: 50vh !important;
    width: 10em;
    padding: 0 !important;
    padding-block: 0.5% !important;
    border: 0 !important;
    margin-block-start: 1vh;
    transition: background-color 1s;
}

.Interactions.light{
    background-color: var(--light-blue);
}
.Interactions.dark{
    background-color: var(--dark-white);
}

.Interactions-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    width: 4vh;
    height: 4vh;
    border-radius: 5vh;
}

.Interactions-item-icon{
    color: var(--white);
    width: 90%;
}

.Main .Side-bar{
    background-color: var(--dark-blue);  
    position: relative;
    width: 20%; 
    height: 100%;
    border-radius: 30px;
    padding: 1vh;
    transition: background-color 1s;
}

.Main .Side-bar.light{
    background-color: var(--dark-blue);
}
.Main .Side-bar.dark{
    background-color: var(--light-gray);
}

.Main .Side-bar-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-block: 2vh;
}

.Main .Side-bar-header-label{
    color: var(--white);
    text-transform: capitalize;
    font-variant: small-caps;
}

.Main .Side-bar-header-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    border-radius: 50vh;
    background-color: var(--dark);
}

.Main .Side-bar-header-icon{
    color: var(--white);
}

.Main .Side-bar .List{
    display: grid;
    width: 100%;
    max-height: 55vh;
    gap: 1vh;
    overflow-y: scroll;
}
.Main .Side-bar .List::-webkit-scrollbar{
    display: none;
}
.Main .Side-bar .List .List-item{
    width: 100%; 
    max-height: 10vh;
    border-radius: 10px;
    transition: background-color 1s;
}
.Main .Side-bar .List .List-item.light{
    background-color: var(--white);
}
.Main .Side-bar .List .List-item.dark{
    background-color: var(--dark-white);
}
.Main .bottom-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-green);
    padding: 10px;
    margin-bottom: 53m;
    border-radius: 30px;
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 13%;
    width: 70%;
    height: 7vh;
    transition: background-color 1s;
}
.Main .bottom-bar.light{
    background-color: var(--light-green);
}
.Main .bottom-bar.dark{
    background-color: var(--dark-green);
}
.Main .bottom-bar .bottom-bar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    border-radius: 50vh;
    background-color: var(--dark);
}
.Main .bottom-bar .bottom-bar-item-icon{
    color: var(--white);
    width: 3.5vh;
    height: 3.5vh;
}

.DropdownModal{
    display: none;
}

/* Responsive design */
@media screen and (max-width: 1010px){
    .Main{
        display: flex;
        position: relative;
        justify-content: center; 
        align-items: center;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        background-image: url(../Images/Light-1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: background-image 1s;
    }

    .Main .Main-container{
        z-index: 1;
        display: flex;
        padding: 1vh;
        margin-top: 5vh;
        width: 90%;
        height: 90vh;
        border-radius: 30px;
        overflow-y: hidden;
        transition: background-color 1s;
    }

    .Main .Side-bar{
        display: none;
    }

    .Main .Feed-container{
        overflow-y: scroll;
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        border-radius: 30px;
        transition: background-color 1s;
        margin: 0;
    }

    .Main .Feed-container .List{
        height: fit-content;
        padding: 5vh;
        padding-top: 1vh;
        margin-bottom: 1em;
        border-radius: 30px;
        width: 100%;
        transition: background-color 1s;
    }

    .Main .Feed-container .Post .Logo{
        position: absolute;
        display: inline;
        left: -10%;
        top: -3%;
        width: 4vh;
        height: 4vh;
        background-color: var(--light-green);
        border-radius: 50%;
        transition: background-color 1s;
    }

    .Main .Feed-container .Post .Label{
        margin: 0;
        margin-inline-start: 2vh;
        text-align: left;
        font-variant: small-caps;
        font-size: larger;
        text-transform: capitalize;
        font-size: 3vh;
        transition: color 1s;
    }

    .DropdownModal{
        display: block;
        position: absolute;
        top: 8%;
        left: 8%;
        width: 10em;
        min-height: 5vh;
    }
    .DropdownModal-icon{
        color: var(--dark);
        height: 4.5vh;
        fill: var(--white);
    }
    
    .DropdownModal .List{
        background-color: var(--dark-green);
        display: grid;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 1em;
        width: 100%;
        max-height: 55vh;
        gap: 1vh;
        overflow-y: scroll;
    }
    .DropdownModal .List::-webkit-scrollbar{
        display: none;
    }
    .DropdownModal .List .List-item{
        width: 100%; 
        max-height: 10vh;
        border-radius: 10px;
        transition: background-color 1s;
    }
    .DropdownModal .List .List-item.light{
        background-color: var(--white);
    }
    .DropdownModal .List .List-item.dark{
        background-color: var(--dark-white);
    }
    
    .DropdownModal-items{
        visibility: hidden;
        position: absolute;
        left:auto;
        background-color: var(--light-gray);
        width: 100%;
        border-radius: 10px;
        text-align: left;
        font-size: x-small;
        height: 0;
        opacity: 0;
        transition: all 1s;
    }
    .DropdownModal-item{
        text-transform: capitalize;
        font-variant: small-caps;
        color: var(--white);
        font-weight: bolder;
        padding-block: 10%;
        margin: 0;
        height: 0;
        padding-block: 0;
        transition: all 0.75s ease-in-out;
    }
    .DropdownModal-item:not(:last-child){
        border-bottom: 1px solid var(--white);
    }

    .Main .bottom-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--light-green);
        padding: 10px;
        margin-bottom: 53m;
        border-radius: 30px;
        text-align: center;
        position: fixed;
        bottom: 4%;
        left: 13%;
        width: 70%;
        height: 7vh;
        transition: background-color 1s;
    }

    .Main .bottom-bar .bottom-bar-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vh;
        height: 5vh;
        border-radius: 50vh;
        background-color: var(--dark);
    }

    .Main .bottom-bar .bottom-bar-item-icon{
        color: var(--white);
        width: 2.5vh;
        height: 2.5vh;
    }
    
}